.wrapper{
    background-color: white;
    position: relative;
}

.selected-option{
    padding: 0px 5px 0px 0px;
}

.box{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border: 2px lightgrey solid;
    cursor: pointer;
    border-bottom-width: 0px;
    border-radius: 5px;
}

.open-box {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: lightblue;
}

.list {
    transition: 100ms;
    background-color: white;
    position: absolute;
    border: 2px lightgrey solid;
    width: calc(100% - 5px);
    z-index: 100;
    overflow: auto;
    cursor: pointer;
    border-top-width: 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.open-list{
    border-color: lightblue;
}

.option {
    padding: 5px 10px;
}

.option:hover{
    background-color: lightgrey;
}